@import '~style/helpers';

.dayOuter {
  background-color: #00a2ea;
  border-radius: 10px;
  border: 3px solid black;
  margin: 3px 20px;
  padding: 3px 3px;
}

.dayInner {
  background-color: #a8ddf5;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 3px 3px;
  text-align: center;
  font-family: Arial Rounded MT Bold, serif;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
}

.calendar {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin: 3px 3px;
  padding: 3px 3px;
}
