@import '~style/helpers';

// 580 px height

//DESC NAME STYLES

.desc_name {
    color: white;
  margin: 3px 3px;
  padding: 5px 5px;
    font-size: 30px;
    text-decoration: underline;
  font-family: Arial Rounded MT Bold, serif;
}

//STAT NAME STYLES

.statName {
  width: 100%;
  height: 30px;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  font-family: Arial Rounded MT Bold, serif;
}

//DESC PIC STYLES

.desc_pic {
    width: 100%;
    height: 200px;
    // border: 1px solid green;
    text-align: center;
    margin: 0 auto;
    padding-top: 26%;
    font-size: 90px;
}

//DESC BUTTON STYLES

.desc_button {
  background-color: #002e77;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  font-family: Arial Rounded MT Bold, serif;
  display: inline-block;
  font-size: 20px;
  margin: 3px 10px;
  cursor: pointer;
}

//DESC TEXT STYLES

.desc_text {
    font-style: italic;
    font-size: 20px;
    color: white;
  width: 100%;
    height: 308px;
  font-family: Verdana, sans-serif;
    // border: 1px solid red;
    // color: red;
}

//CONTAINER STYLES

.right_side {
  color:white;
  background-color: #002e77;
  border: 3px solid black;
  border-radius: 25px;
  padding: 3px 1px;
  margin: 60px 10px;
  height: 80%;
}

//DAILY STAT STYLES

.stats_list {
  list-style-type:none;
  display:inline-block;
  position: relative;
}

.right_side li {
 padding-bottom: 30px;

}

.right_side img {
  float: left;
  margin-right: 15px;
  clear:both;
}

.infoImage {
  max-width: 30%;
  margin: -1px -25px;
}

.right_side li p {
  margin-left: 0px;
  overflow:auto;
  font-size: 20px;
  display:block;
}

